<div class="col-md-8">
  <div class="header-block">
    <h1>SE 39th and Hawthorne</h1>
  </div>
  <div class="status">
    <strong><%=@green_status%></strong>
  </div>

  <div class="col-md-4">
    <div class="stats-box">
        <p><%= @game.name %></p>
        <center><div class="avatar"><img src="/img/avatar.png" alt="gravitar"/></div></center><br>
        Energy:<span class="energy-level"><%= @game.energy %>%</span><br>
        Happiness:<span class='happiness-level'><%= @game.happiness %>%</span><br>
        Money: $<span class="money-level"><%= @game.money %> </span>
    </div>
  </div>

  <!-- <div class=""> -->
    <div class="turn-content">

      <span class="coffee-button col-md-3 col-md-offset-1">

        <form id="choose_coffee" action="/random_events/cafe" method="post">

          <input type="hidden" name="_method" value="patch">
            <input id="coffee" name="coffee" type="image" src="/img/coffee.png" width="100" height="110" alt="Submit Form">
            <br>
            <label id="coffee">Coffee @ <%= %></label>
        </form>
      </span>

      <span class="beer-button col-md-2">
        <form id="choose_beer" action="/random_events/bar" method="post">

          <input type="hidden" name="_method" value="patch">
            <input id="beer-input" name="beer" type="image" src="/img/beer.png" width="100" height="100" alt="Submit Form">
            <br>
            <label id="beer-label">Beer @ <%= %></label>
        </form>
      </span>
    </div>
  <!-- </div> -->

</div>
