
<% if @coffee == true  %>
  <h3><%= @game.name %> <%= @event.cafe %></h3>
<% else %>
  <h3><%= @game.name %> <%= @event.bar %></h3>
<% end %>


<% if @event.change_money != nil %>
  <p><%= @event.change_money %> Dollars</p>
<% end %>

<% if @event.change_happiness != nil %>
  <p><%= @event.change_happiness %> Happiness/Blood Alcohol Content</p>
<% end %>


<% if @event.change_energy != nil %>
  <p><%= @event.change_energy %> Energy</p>
<% end %>


<a href="/turn/<%= @game.stop_id %>" class="btn">Continue</a>
