<div class="col-md-8 main">
  <div class="header-block">
    <h1><%= @stop.name %></h1>
  </div>
  <div class="status">
    <strong><%=@green_status%></strong>
  </div>

<div class="col-md-4">
  <div class="stats-box">
      <h4><%= @game.name %></h4>
      <center><div class="avatar"><img src="/img/avatar.png" alt="gravitar"/></div></center><br>
      <p><span class="energy-level">Energy: <%= @game.energy %>%</span></p>
      <p><span class='happiness-level'>Happiness: <%= @game.happiness %>%</span></p>
      <p><span class="money-level">Money: $ <%= @game.money %> </span></p>
      <p><span class="map-button"><a class="btn btn-small" href="/map/<%= @turn %>">Map</a></span></p>
  </div>
</div>


<div class="turn-content">
  <% if @coffee == true  %>
    <h4 ><%= @game.name %> <%= @event.coffee_shop %></h4>
  <% else %>
    <h4><%= @game.name %> <%= @event.bar %></h4>
  <% end %>

  <% if @event.change_energy != nil %>
    <h3><%= @event.change_energy %> Energy</h3></span>
  <% end %>

  <% if @event.change_happiness != nil %>
    <h3><%= @event.change_happiness %> Happiness</h3></span>
  <% end %>

  <% if @event.change_money != nil %>
    <h3><%= @event.change_money %> Dollars</h3></span>
  <% end %>
</div>

<a href="/turn/<%= @game.stop_id %>" class="btn-turn-event btn">Continue</a>

</div>


<div class="img-center">
  <img class="col-md-offset-2 col-md-8" src="/img/maps/map-<%=@turn%>.png">
</div>
