<div class="col-md-8">
  <div class="header-block">
    <h1>SE 39th and Hawthorne</h1>
  </div>
  <div class="status">
    <strong><%=@green_status%></strong>
  </div>

  <div class="col-md-4">
    <div class="stats-box">
        <p>char name</p>
        <center><div class="avatar"><img src="/img/avatar.png" alt="gravitar"/></div></center><br>
        <span class="col-sm-1">Energy: <span class="energy-level"><%=  %></span></span><br>
        <span class="col-sm-1">Happiness: <span class='happiness-level'><%=  %></span></span><br>
        <span class="col-xs-1">Money: </span><span class="col-xs-offset-6 col-xs-1">$</span><span class="money-level"> <%=  %></span>
    </div>
  </div>

  <div class="col-md-4">
    <div class="turn-content">
      <span class="coffee-button">

        <form id="choose_coffee" action="/random_events/cafe" method="post">
          <input type="hidden" name="_method" value="patch">

            <label id="coffee">Coffee @ <%= %></label>
            <input id="coffee" name="coffee" type="image" src="/img/coffee.png" width="50" height="50" alt="Submit Form">
        </form>
      </span>
      <span class="beer-button">
        <form id="choose_beer" action="/random_events/bar" method="post">
          <input type="hidden" name="_method" value="patch">

            <label id="beer">Beer @ <%= %></label>
            <input id="beer" name="beer" type="image" src="/img/beer.png" width="50" height="50" alt="Submit Form">
        </form>
      </span>
    </div>
  </div>

</div>
