
<div class="col-md-8">
  <div class="header-block">
    <h1>SE 39th and Hawthorne</h1>
  </div>
  <div class="status">
    <strong><%=@green_status%></strong>
  </div>

<div class="col-md-4">
  <div class="stats-box">
      <p><%= @game.name %></p>
      <center><div class="avatar"><img src="/img/avatar.png" alt="gravitar"/></div></center><br>
      Energy:<span class="energy-level"><%= @game.energy %>%</span><br>
      Happiness:<span class='happiness-level'><%= @game.happiness %>%</span><br>
      Money: $<span class="money-level"><%= @game.money %> </span>
  </div>
</div>


<div class="turn-content">
  <% if @coffee == true  %>
    <h4><%= @game.name %> <%= @event.coffee_shop %></h4>
  <% else %>
    <h4><%= @game.name %> <%= @event.bar %></h4>
  <% end %>

  <% if @event.change_energy != nil %>
    <h3><%= @event.change_energy %><span class="event-change"> Energy</span></h3>
  <% end %>

  <% if @event.change_happiness != nil %>
    <h3><%= @event.change_happiness %><span class="event-change"> Happiness</span></h3>
  <% end %>

  <% if @event.change_money != nil %>
    <h3><%= @event.change_money %><span class="event-change"> Dollars</span></h3>
  <% end %>


<a href="/turn/<%= @game.stop_id %>" class="btn-turn-event btn">Continue</a>
</div>
